@mixin heading($size, $color: inherit) {
  font-size: var(--text-size-#{$size});
  color: $color;
  font-family: var(--font-sen);
  font-weight: 700;
}

@mixin text($size, $color, $weight) {
  font-size: var(--text-size-#{$size});
  color: $color;
  font-family: var(--font-inter);
  font-weight: $weight;
}

@mixin flex($align: center, $justify: space-between, $direction: row, $wrap: noWrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin container {
  width: calc(100% - 160px);
  padding: 0px 15px;
  margin: 0 auto;
}
