:root {
  --color-yellow: #ffd050;
  --color-dark_blue: #232536;
  --color-purple: #232536;
  --color-gray: #4c4c4c;
  --color-light_gray: #6d6e76;
  --color-white_gray: #f4f4f4;
  --color-pink: #f4f0f8;
  --color-light_yellow: #fbf6ea;
}
