.search {
  @include flex($align: center, $justify: flex-start);
  position: relative;
  width: 100%;
  .btn {
    position: absolute;
    right: 5px;
    top: 0;
  }
  & input {
    height: 50px;
    width: 100%;
    padding: var(--space-1) var(--space-1-2);
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--color-light_gray);
  }
}

.tags {
  margin-top: 50px;
  & h3 {
    @include heading(3);
    margin-bottom: var(--space-1-2);
  }
}
.tagsWrapper {
  @include flex($wrap: wrap, $justify: stretch);
  gap: var(--space-1);
  & span {
    &.active {
      background: var(--color-dark_blue);
      color: var(--color-white);
    }
    cursor: pointer;
    width: max-content;
    padding: var(--space-1) 35px;
    border-radius: 30px;
    height: 50px;
    @include heading(7);
    @include flex($justify: center, $align: center);

    color: var(--color-light_gray);
    border: 2px solid var(--color-light_gray);

    transition: 0.3s all ease-in;
    &:hover {
      background: var(--color-dark_blue);
      color: var(--color-white);
    }
  }
}

.searchOptions {
  position: absolute;
  @include flex($direction: column);

  top: 100%;
  background: var(--color-white);
  margin-top: 10px;
  border: 1px solid var(--color-light_gray);

  z-index: 20;
  gap: 10px;
  & span {
    cursor: pointer;
    width: 100%;
    padding: 12px;
    &:hover {
      background: var(--color-yellow);
    }
  }
}
