.root {
  text-align: center;
  margin: 0 auto;
  margin-top: 120px;
  width: 40%;

  & h2 {
    @include heading(2);
    line-height: 48px;
  }
  & p {
    @include interText;
    line-height: 28px;
    margin-top: 15px;
    margin-bottom: 32px;
  }
}
