.root {
  text-align: center;
  margin: 0 auto;
  margin-top: var(--space-section);
  width: 40%;
  @include laptop {
    width: 100%;
  }
  & h2 {
    @include heading(2);
    line-height: 48px;
  }
  & p {
    @include interText;
    line-height: 28px;
    margin-top: var(--space-1);
    margin-bottom: var(--space-2);
  }
}
