.root {
  background: var(--color-white_gray);
  padding: 40px 30px;
  @include flex($justify: center, $align: center, $direction: column);
  width: 300px;
  height: 325px;
  transition: 0.3s all ease-in;
  &:hover {
    background: var(--color-light_yellow);
  }
  &.avatar {
    width: 128px;
    height: 128px;
    border-radius: 100%;
  }
  & h3 {
    margin-top: 20px;
    @include heading(3);
  }
  & p {
    @include interText;
  }
}
.links {
  margin-top: 20px;
  @include flex;
  gap: 15px;
}
