.root {
  @include flex($direction: column);
  width: 100%;
  gap: var(--space-1);
  & p {
    color: red;
  }
  & input {
    width: 100%;
    padding: var(--space-1-2);
    @include interText;
  }
  & textarea {
    width: 100%;
    padding: var(--space-1-2);
    @include interText;
    height: 145px;
  }
}
.map {
  margin-top: 70px;
  height: 500px;
  width: 100vw;
  margin-bottom: -120px;
  @include tablet {
    height: 250px;
  }
}
