.root {
  padding: var(--space-2);
  cursor: pointer;
  &.medium {
    max-width: 405px;
    padding: 0px;
  }
  transition: 0.3s all ease-in-out;
  &.preview {
    padding: 20px var(--space-1);
    &:hover {
      background: var(--color-light_yellow);
    }
    & p {
      margin-top: 0px;
    }
    h3 {
      @include heading(4);
    }
  }

  & img {
    width: 100%;
    height: auto;
    max-height: 350px;
  }

  p {
    font-size: var(--text-size-7);
    margin-bottom: 33px;
    &.info {
      margin-top: var(--space-2);
      margin-bottom: var(--space-1);
      & a {
        color: var(--color-purple);
      }
    }
    &.description {
      color: var(--color-light_gray);
      line-height: 28px;
    }
  }
  h3 {
    @include heading(3);
    line-height: 1.5;
    margin-bottom: var(--space-1);
  }
}
