.root {
  padding-top: 182px;
}

.header {
  position: relative;
  & img {
    width: 100%;
    height: auto;
  }
  .topInfo {
    @include flex($justify: end);
    margin-bottom: 60px;
    @include tablet {
      flex-direction: column;
    }
    & p {
      @include interText;
      text-align: end;
      max-width: 470px;
    }
  }
  .lines {
    width: 70%;
    height: 23px;
    @include flex;
    position: absolute;
    left: 50px;
    bottom: 2px;
    & div:last-child {
      width: 60%;
      display: block;
      height: 100%;
      background: var(--color-yellow);
    }
    & div:first-child {
      width: 40%;
      display: block;
      height: 100%;
      background: var(--color-purple);
    }
  }
}
.stats {
  background: var(--color-yellow);
  position: absolute;
  @include flex;
  gap: 70px;
  max-width: 660px;
  padding: var(--space-2) 48px;
  bottom: var(--space-1-2);
  left: 50px;
  @include tablet {
    padding: 40px;
    position: relative;
    left: 0;
  }
  & h2 {
    @include heading(0);
  }
  & p {
    @include interText($color: var(--color-dark_blue));
  }
}
.whiteBlock {
  background: var(--color-white);
  padding: 65px;
  position: absolute;
  left: 50px;
  top: -100px;
  max-width: 625px;
  @include tablet {
    padding: 40px;
    position: unset;
    left: 0;
  }
  & h5 {
    @include interText($color: var(--color-dark_blue), $weight: 600);
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  & h1 {
    @include heading(1);
    margin-bottom: var(--space-1);
    margin-top: 24px;
  }
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 96px;
  background: var(--color-pink);
  margin: 128px 0px;
  gap: var(--space-2);
  position: relative;
  @include tablet {
    grid-template-columns: 1fr;
  }
  & h2 {
    @include heading(2);
    line-height: 1.25;
  }
  & h3 {
    @include heading(3);
    line-height: 1.5;
  }
  & h5 {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: var(--text-size-6);
    letter-spacing: 3px;
    color: var(--color-dark_blue);
    margin-bottom: 24px;
    text-transform: uppercase;
  }
  & p {
    @include interText;
    margin-top: var(--space-1);
    line-height: 28px;
  }
  & a {
    margin-top: var(--space-1);
    font-family: var(--font-sen);
    color: var(--color-purple);
    font-weight: 700;
  }
}

.more {
  & h2 {
    @include heading(2);
  }
  & h4 {
    @include heading(4);
    margin: var(--space-1) 0px;
    line-height: var(--space-2);
  }
  & p {
    @include interText;
  }
  .first {
    @include flex;
    margin-bottom: 100px;
    gap: 80px;
    position: relative;

    @include laptop {
      flex-direction: column;
      & img {
        width: 100%;
        height: auto;
      }
    }
    &::before {
      content: '';
      width: 116px;
      height: 116px;
      background: var(--color-yellow);
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-top-left-radius: 40px;
      @include laptop {
        display: none;
      }
    }
  }
  .second {
    @include flex($direction: row-reverse);
    gap: 80px;
    position: relative;

    @include laptop {
      flex-direction: column;
      & img {
        width: 100%;
        height: auto;
      }
    }
    &::before {
      content: '';
      width: 74px;
      height: 74px;
      background: var(--color-purple);
      display: block;
      position: absolute;
      left: 100px;
      bottom: -37px;
      border-radius: 100%;
      @include laptop {
        display: none;
      }
    }
  }
}

.authors {
  margin-top: 128px;

  & h2 {
    @include heading(2);
    text-align: center;
  }
  .wrapper {
    gap: var(--space-2);
    margin-top: 50px;
    /* @include flex($wrap: wrap); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    @include tablet {
      grid-template-columns: 1fr 1fr;
    }
    @include phone-600 {
      @include flex($direction: column);
      gap: var(--space-2);
      justify-items: center;
    }
  }
}
