.banner {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background: var(--color-pink);
  height: 350px;
  text-align: center;
  @include flex($justify: center, $align: center, $direction: column);
  & h1 {
    @include heading(1);
  }
  & p {
    @include interText;
    margin-top: var(--space-1);
    margin-bottom: var(--space-2);
  }
}

.privacy {
  margin-top: var(--space-section);
  & .info {
    margin-bottom: var(--space-2);
    & h2 {
      @include heading(2);
      margin-bottom: var(--space-2);
      line-height: var(--space-4);
    }
    & p {
      @include interText;
    }
  }
}
