.root {
  background: var(--color-dark_blue);
  padding: 50px;
  margin-top: 120px;
}
.footerFirst {
  @include flex();
  h4 {
    @include heading(4);
    color: var(--color-white);
  }
  nav {
    @include flex($justify: flex-start);
    gap: 25px;
    & a {
      @include interText($color: var(--color-white));
      text-decoration: none;
    }
  }
}
