.root {
  background: var(--color-dark_blue);
  padding: 50px;
  margin-top: var(--space-section);
}
.footerFirst {
  @include flex();
  @include tablet {
    flex-direction: column;
    gap: var(--space-1);
  }
  h4 {
    @include heading(4);
    color: var(--color-white);
  }
  nav {
    @include flex($justify: flex-start);
    gap: var(--space-1-2);
    & a {
      @include interText($color: var(--color-white));
      text-decoration: none;
    }
  }
}
.footerEnd {
  margin-top: 60px;
  @include flex;
  @include interText;
}
.social {
  @include flex;
  gap: var(--space-1-2);
  svg path {
    fill: var(--color-light_gray);
  }
}
